body {
  background-color: #C98986;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: #986C6A;
}

.pink
	{
		position: relative;
		top: 0;
		left: 0;
	}
	.LOGO
	{
		position: absolute;
    left: 25px;
    bottom: 180px;
	}

